* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--color);
}

a {
  text-decoration: none;
  color: var(--color);
}

a:hover {
  text-decoration: underline;
}

svg {
  fill: var(--color);
  max-width: 300px;
}